<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/b0bd5b73b2.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="container nav-bar">
            <div class="box" id="box1">TODO</div>
            <a href="/"><div class="box">HOME</div></a>
            <div class="box">ABOUT</div>
            <a href="/contact"><div class="box">CONTACT</div></a>
        </div>
    </nav>

    <div class="me">
        <div class="brown">
            <h1>About Me!</h1>
            <p>This is what i do now!</p>
            <p>Trying some new stuff, engineering duh!</p>
            <p>If you want a bad, expensive website contact me. I'll think about it if i had time or mood.</p>
            <p>That was pretty much about me.</p>
            <p>Use this dumb website if you want. I made it for practice only and user data ;)</p>
            <p>Also! I have your data now which, I will most probably sell </p>
            <p>on DARKWEB and make a good fortune for myself. Jk! or not.</p>
        </div>
    </div>