<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet"  href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="{% static 'login.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="background">
    <div class="container">
        <div id="box1">LOGIN
        {% if messages %}
            {% for message in messages %}
                <p style="color:red;">{{message}}</p>
            {% endfor %}
        {% endif %}
        </div>
        <div id="box2">
            <form method='POST' action="/login">
            {% csrf_token %}
                <div class="box"><i class="fa fa-user icon"></i><input type="text" placeholder=" Username" name="username"></div>
                <div class="box"><i class="fa fa-key icon"></i><input type="password" placeholder="Password" name="password"></div>
                <input type="checkbox" style="margin-bottom:15px"><i>Remember Me</i>
                <div><button type="submit">LOGIN</button></div>
            </form>
        </div>
        <p>New User? <a href="signup">Signup</a></p>
    </div>
    </div>   
</body>
</html>